<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset
		name="component"
	>
		<field
			name="filepath"
			type="text"
			label="COM_PLANARCHIV_FIELD_FILEPATH_LABEL"
			description="COM_PLANARCHIV_FIELD_FILEPATH_DESC"
			class="input-xxlarge"
		/>
		<field
			name="fileformats"
			type="textarea"
			label="COM_PLANARCHIV_FIELD_FILEFORMATS_LABEL"
			description="COM_PLANARCHIV_FIELD_FILEFORMATS_DESC"
			class="input-xxlarge"
		/>
		<field
			name="docuformats"
			type="textarea"
			label="COM_PLANARCHIV_FIELD_DOCUFORMATS_LABEL"
			description="COM_PLANARCHIV_FIELD_DOCUFORMATS_DESC"
			class="input-xxlarge"
		/>
		<field
			name="save_history"
			type="hidden"
			default="1"
		/>
		<field
			name="history_limit"
			type="hidden"
			default="10"
		/>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_planarchiv"
			section="component"
		/>

	</fieldset>
</config>
