@media print {
	#aside, .breadcrumb, .footer, .navigation, .mod-languages {
		display: none;
	}
}
#planList .icon-warning-2:before {
	color: #FF0000;
}
#adminForm .rightMargin {
	margin-right: 25px;
}