@media print {
    #aside, .breadcrumb, .footer, .navigation, .mod-languages {
        display: none;
    }
}

.truncate {
    max-width: 500px;
}
.truncate div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
dt.pdf,
dd.pdf {
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}
